# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/

# Environments
.env
.venv
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Large data files
data/raw/
data/mfcc_data_with_labels_severity.pt
data/text_data.pt

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp